# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
dist/
eggs/
lib/*
lib64/*
parts/
sdist/
var/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Sphinx documentation
docs/_build/

/env/*
/.vagrant/*

#object files

*.o
*.*~

#Eclipce cproject folders
.cproject
.settings
/.idea/*

!libezsp.so
.AppleDouble
